*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: hsl(155 30% 12%);
}

.container{
    background-color: var(--bg-color) ;
    height: 100vh;

    .about{
        background-color: aqua;
        .left{
            h1{
                color: var(--bg-color);

                &:hover{
                    color: black;
                }
            }
        }
    }
}
